.episode {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.episode__title {
    margin: 0;
    font-size: 1.25rem;
}

.episode__notes ul {
    margin: 0.35rem 0 0;
    padding-left: 1.2rem;
}
